<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="form-group row">
    <div class="col-md-4">
        <%= f.text_field :firstName, placeholder: "First Name" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4">
        <%= f.text_field :lastName, placeholder: "Last Name" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4">
        <%= f.text_field :phone, placeholder: "Phone Number" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4">
        <%= f.text_field :email, placeholder: "Email" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4">
        <%= f.text_area :message, cols: 17, placeholder: "Message" %>
    </div>
  </div>

<% end %>
